#experience-container {
    background-color: rgb(24, 32, 45); /* Gris oscuro azulado */
    border: 1px solid rgb(40, 50, 65); /* Gris azulado suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    display: flex;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 5rem;
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-size: var(--font-size-base);
}

.h2-section {
  text-align: center;
}