@font-face {
  font-family:'Inter';
  src: url(/fonts/inter/Inter-VariableFont.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}



#root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    
    /*  Paleta de colores */
    --primary-color: rgb(15 23 42);
    --primary-button-color: #CBD5E1;
    --button-hover: #94A3B8;
    --primary-text-color: rgb(200, 210, 220); /* Gris claro */
    --secondary-text-color: #f1f5f9; /* Gris casi blanco */

    /* // Fuentes */
    --primary-font: 'Inter', sans-serif;
    --font-size-base: 1rem;
    --font-size-large: 1.1em;
    --font-size-small: 1em;
    
    
    /* // Botones */
    --button-padding: 0.8rem 1.5rem;
    --button-border-radius: 0.3rem;
}
    
h1 {
  color: var(--secondary-text-color) !important; 
  font-size: 2rem !important;
}

h2 {
  color: var(--primary-text-color) !important; 
  font-size: 1.7rem !important;
}

h3 {
  color: var(--secondary-text-color) !important;
  font-size: 1.3rem !important 
}


#root {
    background-color: var(--primary-color);
}